/* Ici vos styles CSS*/

body {
    background-color:#DFEFEC;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    text-transform: uppercase;
}

h2 {
    color: #13907D;
}

strong {
    background-color: yellow;
}