/* Ici vos styles CSS*/

body {
    background-color:#DFEFEC;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: normal;
}

h2, h3 {
    text-transform: uppercase;
}

h2 {
    color: #13907D;
}

strong {
    background-color: yellow;
}

header, footer {
    background-color: #0DBB9D;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    text-align: center;
}

section p {
    text-align: left;
    line-height: 1.8;
}

#sectionbleue {
    background-color: blue;
}

.definition {
    background-color:#FFFFDB;
}

h3 {
    font-style: italic;
    font-weight: 800;
}

div {
    font-style: italic;
    text-decoration: overline;
}

em {
    font-style: italic;
    text-decoration: overline;
}

span {
    font-size : 80px;
}

footer a {
    color : white;
}

/* == Bonus == */

footer a:hover {
    color: red;
}

#ressources {
    color: black;
}

ul {
    text-align: left;
}

/* == Super Bonus == */
img {
    border: 1px solid black;
    border-radius: 10px;
}